body {
    background: url("./SVG/SVG/bg-01.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 730px;
}
.clock-text {
    font-size: 103px;
    margin-left: 8.8rem;
    color: wheat;
}
.question {
    font-size: 35px;
    margin-top: 5rem;
}
.answer {
    position: absolute;
    margin-top: -2rem;
    margin-left: 28.5%;
}

.answerWithoutAny {
}

.answer__img {
    width: 24%;
    margin-right: 3rem;
}
.answerText {
    position: absolute;
    display: flex;
    margin-left: 28.5%;
    margin-top: -1.1rem;
}

.answerText h3{
    margin-left: 4rem;
    margin-right: 10.5rem;
}

.start {
    position: absolute;
    top: 4.1rem;
    left: 8.3rem;
    height: 145px;
    width: 82px;
    border-radius: 50%;
    opacity: 0;
}

.pause {
    position: absolute;
    top: 4rem;
    left: 13.3rem;
    height: 145px;
    width: 73px;
    border-radius: 50%;
    opacity: 0;
}

.reset {
    position: absolute;
    top: 10.5rem;
    left: 12%;
    height: 145px;
    width: 57px;
    transform: rotate(91deg);
    opacity: 0;
}

.train1 {
    margin-top: 4rem;
    margin-left: 12rem;
    width: 10%;
}
